# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Frontend
/node_modules
/front/build
/front/dist
/front/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Editor directories and files
.vscode/
.idea/